@if (config(); as appConfig) {
<section class="bg-gradient-to-r from-red-950 to-slate-900 text-white flex items-center justify-between py-4 px-8">
  <div class="flex items-center space-x-8">
    <h1 class="text-3xl font-bold">{{appConfig.brand.name}}</h1>

    <ul class="flex space-x-6 text-slate-400 font-medium">
      @for (item of appConfig.navItems; track item.route) {
      <li>
        <a [routerLink]="item.route"
          routerLinkActive="text-white font-bold border-b-2 border-red-900 ease-in-out duration-300"
          class="hover:text-white transition-all duration-300">{{item.label}}</a>
      </li>
      }
    </ul>
  </div>


  <div class="flex items-center space-x-4 w-full max-w-md">
    <div class="relative w-full">
      <input type="text" placeholder="Search..."
        class="search-input pl-10 pr-4 py-2 rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 w-full transition-all duration-300">
      <i class="dx-icon-search absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"></i>
    </div>

    <div (click)="openPopup('login')"
      class="bg-gradient-to-tr from-red-600 to-red-400 px-4 py-2 rounded-md cursor-pointer hover:from-red-500 hover:to-red-300 transition-all duration-300 shadow-lg shadow-red-900/20 active:scale-95 whitespace-nowrap">
      <h3 class="text-white font-bold text-sm">SignIn</h3>
    </div>
    
    <div routerLink="/account"
      class="profile-avatar-container bg-slate-950 rounded-full w-12 h-12 flex-shrink-0 overflow-hidden cursor-pointer border-2 border-slate-800 hover:border-red-500 transition-all duration-300">
      <img [src]="appConfig.currentUser.avatarPath" alt="Profile"
        class="profile-avatar w-full h-full object-cover">
    </div>
  </div>
</section>
}

@if (showLoginPopup()) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/80 backdrop-blur-md transition-all duration-500 p-4">

  <div class="relative w-full max-w-md animate-fade-in-up">
    <button (click)="closePopup()"
      class="absolute -top-12 -right-0 md:-right-12 z-50 text-slate-400 hover:text-white transition-colors p-2 bg-slate-900/50 rounded-full hover:bg-red-500">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>

    <div class="bg-slate-900 rounded-3xl overflow-hidden shadow-2xl border border-slate-800">
      @if (authMode() === 'login') {
      <app-login-component (switchToRegister)="openPopup('register')" (closeModal)="closePopup()">
      </app-login-component>
      } @else {
      <app-register-component (switchToLogin)="openPopup('login')">
      </app-register-component>
      }
    </div>

  </div>
</div>
}