<div class="fixed top-5 right-5 z-[100] space-y-3 max-w-sm w-full">

    @for (toast of toasts$ | async; track toast.id) {
    <div class="flex items-start gap-4 p-5 bg-[#141519] text-slate-100 rounded-lg shadow-[0_0_15px_rgba(255,107,107,0.1)] border border-slate-800/80 animate-slide-in-right relative overflow-hidden"
        [ngClass]="{
           'border-l-4 border-l-[#ff6b6b]': toast.type === 'error',
           'border-l-4 border-l-[#0066ff]': toast.type === 'info',
           'border-l-4 border-l-[#1eff00]': toast.type === 'success',
           'border-l-4 border-l-[#ffa200]': toast.type === 'warning',
         }">

        <div class="flex-shrink-0 mt-0.5" [innerHTML]="getIconSvg(toast.type)"></div>

        <div class="flex-1 text-sm font-medium leading-relaxed">
            {{ toast.message }}
        </div>

        <button (click)="close(toast.id)"
            class="flex-shrink-0 text-slate-500 hover:text-white transition-colors p-1 bg-slate-900/50 rounded-full">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>

    </div>
    }

</div>