/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 2. สร้าง Class สำหรับเรียกใช้งาน (ชื่อเดียวกับ Tailwind) */
.animate-slide-in-right {
  animation: slide-in-right 0.4s ease-out forwards;
}




/* ซ่อน Scrollbar ทั้งเว็บไซต์ แต่ยังไถได้ */
html, body {
  overflow-x: hidden; /* ห้ามเลื่อนซ้ายขวา */
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}

html {
  /* ทำให้การ Scroll ทั้งเว็บ (รวมถึงเวลา Angular เปลี่ยนหน้า) เป็นแบบ Smooth */
  scroll-behavior: smooth;
}